.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.banner-slide {
  position: relative;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    z-index: 2;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(calc(-50% - 217px), calc(-50% + 82px));
  }

  &__title {
    margin: 0;
    margin-bottom: 23px;
    max-width: 555px;
    font-family: "Playfair";
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: var(--color-white);
  }

  &__descr {
    margin: 0;
    margin-bottom: 46px;
    font-family: "Gotham";
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 555px;
    color: var(--color-white);
  }

  &__btn {
    display: inline-block;
    padding: 16px 21px;
    font-family: "Gotham";
    font-weight: 500;
    font-size: 15px;
    background-color: var(--color-lightingYellow);
    color: rgba(#080425, 0.5);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-buddhaGold);
    }
  }

  &__btn:nth-child(1) {
    margin-right: 19px;
  }
}

.banner-pag {
  bottom: 53px !important;
  width: auto !important;
  left: auto !important;
  right: 50%;
  transform: translateX(calc(-50% + 494px));

  .swiper-pagination-bullet {
    margin: 0 10px !important;
    width: 5px;
    height: 5px;
    opacity: 0.6;
    background-color: #9f9e9f;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-buddhaGold);
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: var(--color-white);
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 16px;
      height: 16px;
      border: 1px solid var(--color-white);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: border-color 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        border-color: var(--color-buddhaGold);
      }
    }
  }
}

.banner-button-prev,
.banner-button-next {
  position: absolute;
  display: block;
  top: 58%;
  padding: 0;
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  z-index: 5;

  svg {
    position: absolute;
    left: 50%;
    top: 11px;
    width: 22px;
    height: 22px;
    fill: var(--color-white);
    transform: translateX(-50%);
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    svg {
      fill: var(--color-buddhaGold);
    }
  }
}

.banner-button-prev {
  left: 0.5%;

  svg {
    left: auto;
    right: 50%;
    transform: rotate(180deg) translateX(-50%);
  }
}

.banner-button-next {
  right: 0.5%;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5.4%;
  width: 20px;
  height: 26px;
  z-index: 5;
  transform: translateX(calc(-50% - 613px));

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 6px;
    height: 6px;
    background-image: url('../img/scroll-down-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    animation: down 1.5s ease infinite;
  }
}

@keyframes down {
  0% {bottom: -25px;}
  50% {bottom: -35px;}
  100% {bottom: -25px;}
}
