<section class="about">
  <div class="container about__container">
    <h2 class="about__title title">о компании</h2>
    <p class="about__title-descr title-descr">Наша фотостудия</p>
    <p class="about__tagline">
      Van Gog фотостудия это творческое арт&nbsp;&mdash; пространство для реализации любых идей и задач!
    </p>
    <p class="about__descr">
      Это не&nbsp;просто студия для сьемки, это целый комплекс услуг для вас и&nbsp;ваших близких!
    </p>
    <p class="about__descr">
      Мы&nbsp;работаем по&nbsp;системе &laquo;все включено&raquo;, обратившись к&nbsp;нам вам нужно только одно, рассказать, что вы&nbsp;хотите, а&nbsp;мы&nbsp;в&nbsp;свою очередь предложим варианты фотосъемки и&nbsp;варианты для реализации ваших идей.
    </p>
    <button class="about__btn btn-reset btn">Больше о фотостудии</button>
  </div>
</section>
