<section class="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title title">наши преимущества</h2>
    <p class="benefits__title-descr title-descr">5 причин прийти к нам</p>
    <ul class="benefits__list">
      <li class="benefits__item">
        <img class="benefits__item-img" src="./img/icon-ben-1.png" alt="Современные декорации" aria-hidden="true">
        <h3 class="benefits__item-title">Современные декорации</h3>
        <p class="benefits__item-descr">
          Мы&nbsp;постоянно совершенствуемся, основываясь на&nbsp;мировых тенденциях, практичности и&nbsp;пожеланиях наших клиентов.
        </p>
      </li>

      <li class="benefits__item">
        <img class="benefits__item-img" src="./img/icon-ben-2.png" alt="6 различных залов" aria-hidden="true">
        <h3 class="benefits__item-title">6 различных залов</h3>
        <p class="benefits__item-descr">
          От&nbsp;классики до&nbsp;футуризма, все для вашего творчества и&nbsp;реализации всех, даже самых сложных творческих идей.
        </p>
      </li>

      <li class="benefits__item">
        <img class="benefits__item-img" src="./img/icon-ben-3.png" alt="Профессиональные фотографы" aria-hidden="true">
        <h3 class="benefits__item-title">Профессиональные фотографы</h3>
        <p class="benefits__item-descr">
          Наши фотографы работают во&nbsp;всех популярных видах жанра фотографии и&nbsp;обеспечивают качественный результат.
        </p>
      </li>

      <li class="benefits__item">
        <img class="benefits__item-img" src="./img/icon-ben-4.png" alt="Профессиональная техника" aria-hidden="true">
        <h3 class="benefits__item-title">Профессиональная техника</h3>
        <p class="benefits__item-descr">
          Фотостудия имеет профессиональную технику и&nbsp;свет для сьёмки, есть все необходимое для комфортной работы и&nbsp;получения желаемого результата.
        </p>
      </li>

      <li class="benefits__item">
        <img class="benefits__item-img" src="./img/icon-ben-5.png" alt="Открыты для сотрудничества" aria-hidden="true">
        <h3 class="benefits__item-title">Открыты для сотрудничества</h3>
        <p class="benefits__item-descr">
          Мы&nbsp;открыты для сотрудничества, проводим мастер-классы фотографов, семинары, выездные регистрации, воркшопы и&nbsp;т.д.
        </p>
      </li>
    </ul>
  </div>
</section>
