<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__list">
      <li class="footer__item">
        <div class="footer-contact contact contact--phone">
          <p class="contact__descr">телефон администратора</p>
          <a class="contact__phone-link" href="tel:88002000600">8 800 2000 600</a>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer-contact contact contact--mail">
          <p class="contact__descr">e-mail</p>
          <a class="contact__phone-link contact__phone-mail" href="mailto:vangog.fotostudia@yandex.ru">vangog.fotostudia@yandex.ru</a>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer-contact contact contact--address">
          <p class="contact__descr">
            адрес фотостудии
            <span>Челябинск, Худякова, 12а</span>
          </p>
        </div>
      </li>
    </ul>
    <div class="footer__bottom">
      <p class="footer__copy">
        &copy;&nbsp;ИП&nbsp;Фёдоров С.С., 2017
      </p>
      <div class="footer__copy-block">
        <p class="footer__copy">
          Интернет-агентство Tian Group:
        </p>
        <a class="footer__copy-link" href="https://it-tian.ru/" target="_blank">
          создание
        </a>
        <span>и</span>
        <a class="footer__copy-link" href="https://it-tian.ru/" target="_blank">
        продвижение сайтов Челябинск
        </a>
      </div>
    </div>
  </div>
</footer>
