<header class="header">
  <div class="container header__container">
    <div class="header-contact contact contact--phone">
      <p class="contact__descr">телефон администратора</p>
      <a class="contact__phone-link" href="tel:88002000600">8 800 2000 600</a>
    </div>
    <a class="header__logo" href="#" aria-label="Логотип Ван Гог">
      <img src="../img/logo.png" alt="Логотип Ван Гог" />
    </a>
    <div class="header-contact contact contact--address">
      <p class="contact__descr">
        адрес фотостудии
        <span>Челябинск, Худякова, 12а</span>
      </p>
    </div>
  </div>
</header>
