<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">
      Van Gog фотостудия это творческое  арт - пространство для реализации любых идей и задач!
    </h1>
    <div class="banner-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="hero__content" style="background-image: url(../img/banner-1.jpg);">
            <h2 class="hero__title">
              Детские фотосессии по&nbsp;разумным ценам
            </h2>
            <p class="hero__descr">
              Забронируйте фотосъёмку и&nbsp;получите скидку 50% на следующую фотосессию для всей семьи!
            </p>
            <div class="hero__btns">
              <button class="hero__btn btn-reset">Арендовать зал</button>
              <button class="hero__btn btn-reset">Заказать съёмку</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__content" style="background-image: url(../img/banner-1.jpg);">
            <h2 class="hero__title">
              Детские фотосессии по&nbsp;разумным ценам
            </h2>
            <p class="hero__descr">
              Забронируйте фотосъёмку и&nbsp;получите скидку 50% на следующую фотосессию для всей семьи!
            </p>
            <div class="hero__btns">
              <button class="hero__btn btn-reset">Арендовать зал</button>
              <button class="hero__btn btn-reset">Заказать съёмку</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="hero__content" style="background-image: url(../img/banner-1.jpg);">
            <h2 class="hero__title">
              Детские фотосессии по&nbsp;разумным ценам
            </h2>
            <p class="hero__descr">
              Забронируйте фотосъёмку и&nbsp;получите скидку 50% на следующую фотосессию для всей семьи!
            </p>
            <div class="hero__btns">
              <button class="hero__btn btn-reset">Арендовать зал</button>
              <button class="hero__btn btn-reset">Заказать съёмку</button>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination banner-pag"></div>
    </div>
  </div>
</section>
