<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">
      Van Gog фотостудия это творческое  арт - пространство для реализации любых идей и задач!
    </h1>
  </div>
  <div class="banner-slider">
    <div class="swiper-wrapper">

      <div class="swiper-slide banner-slide">
        <img src="./img/banner-1.jpg" alt="Детские фотосессии по разумным ценам">
        <div class="banner-slide__content">
          <h2 class="banner-slide__title">
            Детские фотосессии по&nbsp;разумным ценам
          </h2>
          <p class="banner-slide__descr">
            Забронируйте фотосъёмку и&nbsp;получите скидку 50% на следующую фотосессию для всей семьи!
          </p>
          <div class="banner-slide__btns">
            <button class="banner-slide__btn btn-reset">Арендовать зал</button>
            <button class="banner-slide__btn btn-reset">Заказать съёмку</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide banner-slide">
        <img src="./img/banner-2.jpg" alt="Детские фотосессии по разумным ценам" loading="lazy">
        <div class="banner-slide__content">
          <h2 class="banner-slide__title">
            Детские фотосессии по&nbsp;разумным ценам
          </h2>
          <p class="banner-slide__descr">
            Забронируйте фотосъёмку и&nbsp;получите скидку 50% на следующую фотосессию для всей семьи!
          </p>
          <div class="banner-slide__btns">
            <button class="banner-slide__btn btn-reset">Арендовать зал</button>
            <button class="banner-slide__btn btn-reset">Заказать съёмку</button>
          </div>
        </div>
      </div>

      <div class="swiper-slide banner-slide">
        <img src="./img/banner-3.jpg" alt="Детские фотосессии по разумным ценам" loading="lazy">
        <div class="banner-slide__content">
          <h2 class="banner-slide__title">
            Детские фотосессии по&nbsp;разумным ценам
          </h2>
          <p class="banner-slide__descr">
            Забронируйте фотосъёмку и&nbsp;получите скидку 50% на следующую фотосессию для всей семьи!
          </p>
          <div class="banner-slide__btns">
            <button class="banner-slide__btn btn-reset">Арендовать зал</button>
            <button class="banner-slide__btn btn-reset">Заказать съёмку</button>
          </div>
        </div>
      </div>

    </div>
    <div class="banner-slider__container"></div>
    <div class="swiper-pagination banner-pag"></div>

    <button class="banner-button-prev">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
      </svg>
    </button>
    <button class="banner-button-next">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
      </svg>
    </button>
  </div>
  <div class="scroll-down">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="28px">
      <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
      d="M7.999,0.999 L10.999,0.999 C14.865,0.999 17.999,4.133 17.999,7.999 L17.999,18.999 C17.999,22.865 14.865,25.999 10.999,25.999 L7.999,25.999 C4.133,25.999 0.999,22.865 0.999,18.999 L0.999,7.999 C0.999,4.133 4.133,0.999 7.999,0.999 Z"/>
      <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
      d="M9.499,5.999 C10.880,5.999 11.999,7.118 11.999,8.499 L11.999,11.499 C11.999,12.880 10.880,13.999 9.499,13.999 C8.119,13.999 6.999,12.880 6.999,11.499 L6.999,8.499 C6.999,7.118 8.119,5.999 9.499,5.999 Z"/>
    </svg>
  </div>
</section>
