<div class="container nav__container">
  <div class="menu__icon">
    <span></span>
  </div>
  <nav class="menu__body">
    <ul class="menu__list">
      <li>
        <a class="menu__link" data-goto=".about" href="#">о компании</a>
        <span class="menu__arrow">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </span>
        <ul class="menu__sub-list">
          <li>
            <a class="menu__sub-link" href="#">Наша фотостудия</a>
          </li>
          <li>
            <a class="menu__sub-link" href="#">Отзывы</a>
          </li>
          <li>
            <a class="menu__sub-link" href="#">Частые вопросы</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu__link" data-goto=".rent" href="#">аренда залов</a>
        <span class="menu__arrow">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </span>
        <ul class="menu__sub-list">
          <li>
            <a class="menu__sub-link" href="#">Наша фотостудия 02</a>
          </li>
          <li>
            <a class="menu__sub-link" href="#">Отзывы 02</a>
          </li>
          <li>
            <a class="menu__sub-link" href="#">Частые вопросы 02</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu__link" data-goto=".services" href="#">фотосессии</a>
        <span class="menu__arrow">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </span>
        <ul class="menu__sub-list">
          <li>
            <a class="menu__sub-link" href="#">Наша фотостудия 03</a>
          </li>
          <li>
            <a class="menu__sub-link" href="#">Отзывы 03</a>
          </li>
          <li>
            <a class="menu__sub-link" href="#">Частые вопросы 03</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="menu__link" href="#">правила</a>
      </li>
      <li>
        <a class="menu__link" href="#">портфолио</a>
      </li>
      <li>
        <a class="menu__link" data-goto=".footer" href="#">контакты</a>
      </li>
    </ul>
  </nav>
</div>


<!-- <div class="container nav__container">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link nav__link--active" href="#">о компании</a>
        <button class="btn-reset nav__btn">
          <svg class="nav__arrow arrow">
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="sub-nav__list">
          <li class="sub-nav__item">
            <a class="sub-nav__link" href="#">
              Наша фотостудия
            </a>
          </li>
          <li class="sub-nav__item">
            <a class="sub-nav__link" href="#"> Отзывы </a>
          </li>
          <li class="sub-nav__item">
            <a class="sub-nav__link" href="#">
              Частые вопросы
            </a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">аренда залов</a>
        <button class="btn-reset nav__btn">
          <svg class="nav__arrow arrow">
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="sub-nav__list">
          <li class="sub-nav__item">
            <a class="sub-nav__link sub-nav__link--active" href="#">
              Наша фотостудия 02
            </a>
          </li>
          <li class="sub-nav__item">
            <a class="sub-nav__link sub-nav__link--active" href="#">Отзывы 02</a>
          </li>
          <li class="sub-nav__item">
            <a class="sub-nav__link sub-nav__link--active" href="#">Частые вопросы 02</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">фотосессии</a>
        <button class="btn-reset nav__btn">
          <svg class="nav__arrow arrow">
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="sub-nav__list">
          <li class="sub-nav__item">
            <a class="sub-nav__link sub-nav__link--active" href="#">
              Наша фотостудия 03
            </a>
          </li>
          <li class="sub-nav__item">
            <a class="sub-nav__link sub-nav__link--active" href="#">Отзывы 03</a>
          </li>
          <li class="sub-nav__item">
            <a class="sub-nav__link sub-nav__link--active" href="#">Частые вопросы 03</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">правила</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">портфолио</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">контакты</a>
      </li>
    </ul>
  </nav>
</div> -->
