<section class="rent">
  <div class="container rent__container">
    <h2 class="rent__title title">аренда</h2>
    <p class="rent__title-descr title-descr">Наши залы</p>
    <div class="rent-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="rent__content">
            <div class="rent__block-img">
              <img class="rent__img" src="./img/rent-1.jpg" alt="">
            </div>
            <div class="rent__info">
              <h3 class="rent__info-title">Футуризм</h3>
              <p class="rent__info-descr">
                Просторный, светлый зал, выполненный в&nbsp;стиле футуризм и&nbsp;модерн.
              </p>
              <button class="rent__btn btn-reset btn">Узнать больше о зале</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rent__content">
            <div class="rent__block-img">
              <img class="rent__img" src="./img/rent-1.jpg" alt="">
            </div>
            <div class="rent__info">
              <h3 class="rent__info-title">Футуризм 02</h3>
              <p class="rent__info-descr">
                Просторный, светлый зал, выполненный в&nbsp;стиле футуризм и&nbsp;модерн.
              </p>
              <button class="rent__btn btn-reset btn">Узнать больше о зале</button>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rent__content">
            <div class="rent__block-img">
              <img class="rent__img" src="./img/rent-1.jpg" alt="">
            </div>
            <div class="rent__info">
              <h3 class="rent__info-title">Футуризм 03</h3>
              <p class="rent__info-descr">
                Просторный, светлый зал, выполненный в&nbsp;стиле футуризм и&nbsp;модерн.
              </p>
              <button class="rent__btn btn-reset btn">Узнать больше о зале</button>
            </div>
          </div>
        </div>

      </div>
      <div class="rent-buttons">
        <button class="rent-button-prev">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </button>
        <button class="rent-button-next">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="rent__links-block links-block">
      <a href="#" class="links-block__link links-block__link--organization">
        <span>Организация мероприятий в наших залах</span>
      </a>
      <a href="#" class="links-block__link links-block__link--booking">
        <span>Расписание и бронирование залов</span>
      </a>
    </div>
  </div>
</section>
