<section class="services">
  <div class="container services__container">
    <h2 class="services__title title">услуги</h2>
    <p class="services__title-descr title-descr">Фотосессии</p>
    <ul class="services__list">
      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/1.jpg" alt="Семейная Фотосессия">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Семейная Фотосессия</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/2.jpg" alt="Детская Фотосессия">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Детская <br>Фотосессия</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/3.jpg" alt="Индивидуальная Фотосессия">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Индивидуальная Фотосессия</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/4.jpg" alt="Свадебная Фотосессия">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Свадебная Фотосессия</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/5.jpg" alt="Love Story Фотосессия">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Love Story Фотосессия</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/6.jpg" alt="Для беременных Фотосессия">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Для беременных Фотосессия</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/7.jpg" alt="Бизнес Портрет">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Бизнес <br>Портрет</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/8.jpg" alt="Рекламная Съемка">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Рекламная <br>Съемка</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/9.jpg" alt="Репортажная Съемка">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Репортажная <br>Съемка</a>
        </div>
      </li>

      <li class="services__item">
        <div class="services__img-wrap">
          <img class="services__img" src="./img/services/10.jpg" alt="Фото Проекты">
        </div>
        <a href="#" class="services__link-btn">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/>
          </svg>
        </a>
        <div class="services__block-link">
          <a href="#" class="services__link">Фото <br>Проекты</a>
        </div>
      </li>
    </ul>
  </div>
</section>
