html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-blackRock);
  background-color: var(--color-white);
}

body.lock {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 470px) {
    padding: 0 10px;
  }
}

.title {
  position: relative;
  margin: 0;
  font-family: "ProximaNova", sans-serif;
  font-size: 12.5px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: rgba(#080425, 0.6);

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: 50%;
    top: -15px;
    background-color: var(--color-lightingYellow);
    transform: translateX(-50%);
  }
}

.title-descr {
  margin: 0;
  margin-bottom: 53px;
  font-family: "Playfair";
  font-weight: 700;
  font-size: 54px;
  line-height: 58px;
  text-align: center;

  @include small-tablet {
    font-size: 32px;
    line-height: 42px;
  }
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 15px;
  background-color: var(--color-lightingYellow);
  color: rgba(#080425, 0.5);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-buddhaGold);
  }
}
